<div class="main-container">
    <div class="container">
        <div class="jumbotron mt-2">
            <h2 class="text-center">Reddit Scraper</h2>
            <div class="row">
                <div class="mx-auto">
                    <a href="/"><button type="button" class="btn btn-primary">Home</button></a>
                    <a href="/saved"><button type="button" class="btn btn-primary">Saved Articles</button></a>
                    <a href="/scrape"><button href="#" type="button" class="btn btn-primary" id="newScrape">New Scrape</button></a>
                    <button type="button" class="btn btn-primary" id="clearArticles">Clear Articles</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="savedList">
        {{#each save}}
        <div class="card mb-2" id='{{this.id}}'>
            <div class="card-header">
                <h4>{{this.title}}</h4>
                <button class="btn btn-primary formBtn" type="button" data-toggle="collapse" data-target="#collapseForm-{{this.id}}"
                    aria-expanded="false" aria-controls="collapseExample">
                    <i class="fas fa-plus"></i>
                </button>
                <button class="btn btn-primary formBtn mr-2" type="button"><a href='http://www.reddit.com{{this.link}}'
                        target="_blank"><i class="fas fa-book-open"></i></a></button>

            </div>
            <div class="card collapse card-body" id="collapseForm-{{this.id}}">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Title">
                    <input type="text" class="form-control" placeholder="Body">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" id="button-addon2">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>