<div class="main-container">
    <div class="container">
        <div class="jumbotron mt-2">
            <h2 class="text-center">Reddit Scraper</h2>
            <div class="row">
                <div class="mx-auto">
                    <a href="/"><button type="button" class="btn btn-primary">Home</button></a>
                    <a href="/saved"><button type="button" class="btn btn-primary">Saved Articles</button></a>
                    <a href="/scrape"><button href="#" type="button" class="btn btn-primary" id="newScrape">New Scrape</button></a>
                    <button type="button" class="btn btn-primary" id="clearArticles">Clear Articles</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="savedList">
        {{#each save}}
        <div class="card mb-2" id='{{this.id}}'>
            <div class="card-header">
                <h4>{{this.title}}</h4>
                <div class="row">
                    <button class="btn btn-primary btn-block btn-sm mt-1 mr-3 ml-3" type="button"><a href='http://www.reddit.com{{this.link}}'
                            target="_blank">Read Article <i class="fas fa-book-open"></i></a></button>
                    <button class="btn btn-primary btn-block btn-sm mr-3 ml-3 mb-1" type="button" data-toggle="collapse"
                        data-target="#collapseForm-{{this.id}}" aria-expanded="false" aria-controls="collapseExample">
                        Notes <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card collapse card-body noteForm" id="collapseForm-{{this.id}}">
                <div id="savedNotes-{{this.id}}">
                    {{#each note}}
                        <br>
                        <h4>{{this.title}}</h4>
                        <p>{{this.body}}</p>
                        <hr>
                    {{/each}}
                </div>
                <form id="noteInput">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control noteInput" id="title-{{this.id}}" placeholder="Title">
                        <input type="text" class="form-control noteInput" id="body-{{this.id}}" placeholder="Body">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary noteSubmit" type="button" data-id="{{this.id}}" id="button-addon2">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</div>