<div class="main-container">
    <div class="container">
        <div class="jumbotron mt-2">
            <h2 class="text-center">reddit Scraper</h2>
        </div>
    </div>
    <div class="container" id="savedList">
        {{#each save}}
        <div class="card mb-2" id='{{this.id}}'>
            <div class="card-header">
                <h4>{{this.title}}</h4>
                <div class="row">
                    <button class="btn btn-primary btn-block btn-sm mt-1 mr-3 ml-3" type="button"><a href='http://www.reddit.com{{this.link}}'
                            target="_blank">Read Article <i class="fas fa-book-open"></i></a></button>
                    <button class="btn btn-primary btn-block btn-sm mr-3 ml-3 mb-1" type="button" data-toggle="collapse"
                        data-target="#collapseForm-{{this.id}}" aria-expanded="false" aria-controls="collapseExample">
                        Notes <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card collapse card-body noteForm" id="collapseForm-{{this.id}}">
                <div>
                    <table class="table">
                        <thead>
                            <th scope="col">Title</th>
                            <th scope="col">Body</th>
                            <th scope="col" style="text-align: right">Delete</th>
                        </thead>
                        <tbody class="savedNoteArea" id="savedNotes-{{this.id}}">
                        {{#each note}}
                        <tr id="{{this._id}}">
                            <td>{{this.title}}</td>
                            <td>{{this.body}}</td>
                            <td><button type="button" id="delete" data-id="{{this._id}}" class="btn btn-danger float-right">X</button></td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
                <form id="noteInput">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control noteInput" id="title-{{this.id}}" placeholder="Title">
                        <input type="text" class="form-control noteInput" id="body-{{this.id}}" placeholder="Body">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary noteSubmit" type="button" data-id="{{this.id}}" id="button-addon2">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</div>